//* theme style specific variables *//

// headline font
$headline-font: "PAGRevolucion", sans-serif;

// main font
$font: "adelle", Georgia, serif;

// aqua for hyperlinks
$theme-color-1: #0F95AD;

// white for backgrounds
$theme-color-2: #FFFFFF;

// light green  (From Aware)
$theme-color-3: #7ba329;

// dark blue
$theme-color-4: #403F48;

// form input area focus color (From Aware)
$theme-color-5: rgba(123,163,41,.6);

// general success and error colors  (From Aware)
$red: #b94a48;
$green: #619114;

// background images
$background-texture: "paper.jpg"; // (From Aware)
$header-texture: "header-green.jpg"; // (From Aware)
$header-color: #C3C6C1;