//* theme style specific variables *//

// headline font
$headline-font: "PAGRevolucion", sans-serif;

// main font
$font: "adelle", Georgia, serif;

// aquas
$theme-color-1: #0F95AD; // hyperlinks
$theme-color-16: #12b9d7; // hyperlinks:hover
$theme-color-12: #32B8CE; // bgd for button
$theme-color-13: #2997A9; // dark bgd for button gradient
$theme-color-17: #CEF8FF; // #topnav hover color
$theme-color-20: #35c9e2; // mobile slider link color
$theme-color-21: #24c5df; // slider link:hover color (mobile & non)
$theme-color-22: #1dafc7; // non-mobile slider link color
$theme-color-23: #137585; // dark link for slider
$theme-color-25: #45bdd1; // link color for light text tab/desk slider
$theme-color-26: #65c8d9; // hover color for light text tab/desk slider

// white for backgrounds
$theme-color-2: #FFFFFF;

// neutrals — tans & greys
$theme-color-3: #888A86; // paloma for footer bgd
$theme-color-6: #C3C6C1; // putty/gray for header
$theme-color-9: #B4B7B1; // thin gray border for header-bottom
$theme-color-10: #e7e6de; // light text in footer
$theme-color-19: #ecebe0; // tan text in mobile slider
$theme-color-24: #e4e3d3; // tan p for light text tab/desk slider

// blues
$theme-color-4: #465E7E; // bgd for blue callout
$theme-color-7: #403F48; // dark blue at top of html
$theme-color-8: #3E536F; // dark blue band
$theme-color-14: #486182; // bgd for button:hover
$theme-color-15: #32435a; // bgd for button:hover dark gradient
$theme-color-18: #505C6B; // blue gray for non-mobile slide text

// reds
$theme-color-11: #933d3a; // bgd for email signup, same as hand in logo?

// form input area focus color (From Aware)
$theme-color-5: rgba(123,163,41,.6);

// general success and error colors  (From Aware)
$red: #b94a48;
$green: #619114;

// background images
// $background-texture: "paper.jpg";  (From Aware)
$header-texture: "header-green.jpg"; // (From Aware)
$header-color: #C3C6C1;