/* ===================================================================================
   This is the tablet and desktop stylesheet. It applies to viewports above 768px.
   For the mobile first stylesheet which applies to all screen widths, see theme.scss.
   =================================================================================== */

//* style variables *//

// variables partial
@import "variables";

// border-radius mixin
@import "border_radius";

// fluid grid for tablet
@import "grid-tablet";

//compass css3 mixins
@import "compass/css3";

//mobile nav
@import "mobile-nav";


// header — logo & nav

.header-container {
  height: 138px;
  position: relative;
}

#masthead {
  float: left;
  position: relative;
  left: 50%;
  header {
    float: left;
    right: 50%;
    position: relative;
    .site-logo {
      position: relative;
      a {
        left: 0;
        top: 12px;
        font-size: 32px;
        line-height: 36px;
        height: 160px;
        width: 160px;
        margin-left: 0;
      }
    }
  }
}

  // top nav with drop downs

nav, .subnav {
  background-color: transparent;
  border-right: 0;
  border-top: 0;
  float: left;
  height: auto;
  margin-top: 75px;
  margin-left: 160px;
  position: static;
  width: auto;
  font-family: "PAGRevolucion";
  font-size: 28px;
  #topnav {
    margin: 0;
    padding: 0;
    clear: both;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 0 0 12px;
      position: relative;
      background-color: inherit;
      border: none;
      line-height: 1.4em;
      font-size: 28px;
      letter-spacing: 1px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        color: $theme-color-2;
        padding: 0 0 0 15px;
        text-shadow: 0 1px #999999;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover, &.active{
        border-color: transparent;
        background-color: inherit;
        a {
          color: #CEF8FF !important;
        }
      }
    }
  }
  /* controls bg color of top when hovering on sub */
  .sub {
    position: absolute;
    top: 54px;
    left: -1px;
    z-index: 99999;
    background-color: $theme-color-3;
    padding: 8px 0 5px 0;
    @include border-radius-top-right(2px);
    @include border-radius-bottom-left(2px);
    @include border-radius-bottom-right(2px);
    width: 200px;
    display: none;
  }
  .sub li {
    width: 100%;
    border: none;
    color: $theme-color-2;
    font-size: 13px;
    line-height: 18px;
    display: block;
    background-color: $theme-color-3;
    border-color:transparent;
    @include border-radius(0);

    &.mobile-visible {
      display: none;
    }
  }
  .sub a {
    background: none;
    padding: 5px 20px 5px 22px;

    &:hover {
      background-color: darken($theme-color-3, 10);
      text-decoration: none;
    }
  }
}

// navigation shown if a page has more than one subpage

.subnav {
  margin: 0 0 15px 0;
  padding: 0;
  float: left;
  clear: both;
  font-size: 13px;
  max-width: 100%;
}

.desktop-nav {
  li:hover .sub {
    display: block;
  }
}


// page layout if the sidebar is turned on

.twocolumn-container {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 26px;
  .left-column, .right-column-wide {
    background-color: #fff;
    padding: 20px 0 0 0;
    float: left;
    width: 53%;
    margin-right: 4%;
    margin-bottom: 0;
  }
  .right-column, .left-column-narrow {
    float: left;
    width: 43%;
    margin-bottom: 0;
    padding-top: 20px;
  }
  .right-column-wide {
    margin-right: 0;
  }
  .left-column-narrow {
    margin-right: 4%
  }
}

// page layout if the sidebar is turned off

.onecolumn-container {
  padding-top: 46px;
  margin: 0 auto 30px;
}


// site wide footer

footer {
  padding: 0 0 17px;
  .foot1, .foot2, .foot3 {
    float: left;
  }
  ul li {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;
  }
  .foot1 {
    width: 47%;
    margin-right: 5%;
    line-height: 157%
  }
  .foot2, .foot3 {
    width: 23%;
    margin-top: 0;
 }
  .foot2 {
    margin-right: 2%;
 }   
}

// byline on blog posts for desktop/tablet
.page-pages-show-blog-post {
  .byline {
    float: right;
    margin: 5px 0 0 4%;
  }
}

// hides off canvas nav

.wrap.active {
  left: 0;
}

.sharetable {
  display: block;
  width: 487px;
  .facebook-cell {
    float: left;
    text-align: left;
    padding: 0 20px 0 0;
    vertical-align: top;
    width: 320px;
  }
  .twitter-cell {
    float: left;
    text-align: left;
    padding: 0 20px 0 0;
    vertical-align: top;
    width: 75px;
  }
  .gplus-cell {
    float: left;
    text-align: left;
    vertical-align: top;
    width: 52px;
  }
}

.mobile-visible {
  display: none;
}

.desktop-visible {
  display: block;
}

.flash-share {
  .float {
    float: right;
  }
}

// icon which activates off canvas nav

.menu-link {
  display: none;
}



// little post-it note callout

.main {
  .callout {
    width: 24%;
    margin-top: 10px;
  }
}

// follow page link shown in page stream

.page-follow {
  float: right;
  margin-top: -35px;
}

// inline radio buttons and check boxes

.radio-inline, .checkbox-inline {
  span {
    white-space: nowrap;
    display: inline-block;
  }
  input[type="radio"], input[type="checkbox"] {
    margin: 0;
    display: inline-block;
  }
  input[type="radio"]:checked+label, input[type="checkbox"]:checked+label {
    background-color: transparent;
    color: #505054;
  }
  label {
    display: block;
  }
  label.radio, label.checkbox {
    .option_label {
      display: inline;
    }
    position: relative;
    top: 2px;
    display: inline-block;
    width: auto;
    background-color: transparent;
    font-family: $font;
    color: #505054;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    padding: 0;
    margin: 0 10px 10px 5px;
  }
  label.checkbox {
    position: relative;
    padding: 0;
    height: auto;
    font-size: inherit;
    margin: 0;
  }
 &.checkbox-inline {
    vertical-align: top;
    li {
      width: auto;
      label {
        width: auto;
      }
      input[type="checkbox"] {
        vertical-align: middle;
      }
    }
  }
}

// inline radio buttons

.radio.inline, .checkbox.inline, .inline label.radio {
  display: inline-block;
  margin-right: 20px;
  padding-top: 5px;
  margin-bottom: 10px;
  vertical-align: middle;
  &:first-child {
    margin-left: 0;
  }
}

input[type="checkbox"],
input[type="radio"] {
  border: 0;
  padding: 0;
  background: none;
  @include box-shadow(0);
}

// wraps credit card icons

.cc {
  padding-bottom: 10px;
}

// paid membership options

ul.membership-list {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  li.membership {
    vertical-align: top;
    display: inline-block;
    margin: 0 1.22% 1.22% 0;
    width: 31.8%;
    height: 250px;
    .buy {
      position: absolute;
      width: 88px;
      bottom: 15px;
      margin-left: -44px;
      left: 50%;
    }
  }
}

// featured content slider

.page-features {
  .features-headline {
    position: absolute;
    padding: 0;
    top: 15%;
    left: 8%;
    width: 50%;
    h2 {
      color: $theme-color-11;
      &.l {color: $theme-color-19;} // the "l" is for "light"
      font-size: 36px;
      font-family: "PAGRevolucion";
      margin-top: -1px;
      line-height: 42px;
      margin-bottom: 14px;
      letter-spacing: 0px;
      line-height: 1;
      text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.3);
    }
    h3 {
      color: $theme-color-11;
      &.l {color: $theme-color-19;}
      font-size: 24px;
      font-family: "PAGRevolucion";
      margin-bottom: 2px;
      letter-spacing: 0px;
      line-height: 1;
      text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.3);
    }
    p {
      color: $theme-color-18;
      &.l {
        color: $theme-color-24;
        i {
          color: $theme-color-25;
          &:hover {
            color: $theme-color-26;
          }
        }
      }
      font-size: 19px;
      line-height: 26px;
      font-weight: 600;
      font-style: italic;
      margin-bottom: 7px;
      i {
        color: $theme-color-22;
        font-weight: 700; 
        &:hover {
          color: $theme-color-21; 
        }
        &.d {
          color: $theme-color-23;
        }
      }
    }
    h2, h3, p {
      &.s { // the "s" is for short, referring to the width, to keep text from overlaying image
        width: 80%;
      }
    }
  }
}

.flex-direction-nav {
  top: 43.5%;
}

.flex-prev, .flex-next {
  display: block;
  font-size: 25px;
}

// Teacher Action Network signup form

.email-signup {
  h2 {
    font-size: 18px; 
  }
  form {
    padding: 20px 25px 10px;
  }
  .signup-alt {
    margin-top: 10px;
    a {
      display: inline-block;
    }
  }
}

// inline sign in form

.user-session-form-container {
  .oauth-links {
   margin-bottom: 0;
  }
  .sign-in-with-email, .sign-up {
    border-left: 1px solid #ccc;
    padding-left: 2.7624309392265194%;
  }
}

.review-rules {
  float: right;
  font-size: 12px;
  padding: 0;
}


// homepage styles

.slug-home {
  .twocolumn-container {
    padding-top: 0;
    .left-column {
      width: 48.25%;
      margin-right: 3.5%; 
      h1.headline {
        font-size: 28px;
        .wordmark {
          font-size: 31px;
        }
      }
    }
    .right-column {
      width: 48.25%;
      padding: 0;
      margin: 0;
      .email-signup {
        position: relative;
        margin-top: -43px;
      }
      .supporter-pic {
        margin-top: 18px;
      }
    }
  }
  #home-bottom2 {
    padding: 22px 0 25px;
    #bottom2-a {
      font-style: italic;
      width: 48%;
      float: left;
      margin-right: 4%;
    }
    #bottom2-b {
      float: left;
      width: 48%; 
      #tan-outer {
        margin-top: 0;
      }
    }
  }
}


// other page specific styles

#event_rsvp_guests_count, input.quantity, #signup_donations_to_raise_amount {
  width: 25%;
}

.suggestion-tag-list {
  li {
    margin: 15px 15px 10px 0;
  }
}

input#donation_amount_other {
  width: 30%;
}

.distance {
  .within {
    position: relative;
    top: 2px;
    display: inline;
    padding-right: 5px;
  }
}

.page-user-sessions-new-wide {
  h2 {
    font-size: 31.5px;
    line-height: 35px;
  }
}

// inline formatting for name, activity type and date in page stream for tablet and desktop view

ul#page-stream {
  li.activity  {
    span + a {
    display: inline;
    } 
  }
  .activity-time {
    display: inline;
  }
  .timeago {
    display: inline;
    padding-right: 0;
    float: none;
    font-size: 65%;
    color: inherit;
  }
  .activity_links a {
    display: inline;
  }
  .activity_content {
    clear: none;
  }
}

// Tablet only
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  // javascript is used to wrap all iframes in a span called responsive-embed-wrapper to make them responsive.
  // once the iframe is wrapped in said span, it will be shown.

  iframe[src *= 'youtube'] {
    display: none;
  }

  .responsive-embed-wrapper iframe {
    display: block;
  }

  .fb-like-box iframe {
    display: block;
  }

  /* HIDING TABLET-SPECIFIC NAV STYLES BECAUSE NOT USING DROP-DOWNS CURRENTLY
  // off canvas nav to be used on tablets, since drop downs don't work on touch devices
  nav {
    @include mobile-nav;
    float: none;
    margin: 0;
    li {
      margin: 0;
      padding: 0;
      @include border-radius(0);
      line-height: 21px;
      &.active, &.drop {
        background-color: $theme-color-4;
        border-bottom: 1px solid darken($theme-color-4, 15);
      }
      a {
        padding: .8em;
      }
    }
    .sub {
      position: static;
      width: 100%;
      padding: 0;
      li {
        border-bottom: 1px solid darken($theme-color-4, 15);
        background-color: darken($theme-color-4, 5);
        &:last-child {
          margin-bottom: 0;
        }
        a {
          padding: 12px;
        }
        &.mobile-visible {
          display: block;
        }
      }
    }
  }

  .menu-link {
    display: block;
  }

  .wrap.active {
    left: 16em;
  }

  // replaces the subnav with breadcrumbs, as dropdowns don't work in touch devices
  .tablet-visible {
    display: block;
  }
  .desktop-visible {
    .subnav-container {
      display: none;
    }
  }
  */
}

@media screen and (min-width: 875px) {
  .page-features {
    .features-headline {
      p {
        font-size: 21px;
        line-height: 29px;
      }
    }
  }
  .twocolumn-container {
    .left-column, .right-column-wide {
      width: 57%;
    }
    .right-column, .left-column-narrow {
      width: 39%;
    }
  }
  nav {
    #topnav {
      li {
        a {
          padding: 0 0 0 20px;
        }
      }
    }
  }
  .onecolumn-container {
    width: 88%;
  }
}

@media screen and (min-width: 980px) {
  .page-features {
    .features-headline {
      h2 {
        font-size: 42px;
        line-height: 42px;
      }
      h3 {
        font-size: 31px;
      }
      p {
        font-size: 23px;
        line-height: 33px;
        margin-bottom: 8px; 
      }
    }
  }
  nav {
    #topnav {
      li {
        a {
          padding: 0 0 0 25px;
        }
      }
    }
  }
  .twocolumn-container {
    .left-column, .right-column-wide {
      width: 62%;
    }
    .right-column, .left-column-narrow {
      width: 34%;
    }
  }
  .main {
    font-size: 18px;
    .author-inset {
      width: 20%;
    }
  }
  .onecolumn-container {
    width: 80%;
  }
}

// Desktop above 1080px styles

@media only screen and (min-width: 1080px) { // This used to be 1140px
  
  nav {
    #topnav {
      li {
        a {
          padding: 0 0 0 30px;
        }
      }
    }
  }

  .onecolumn-container {
    width: 75%;
  }


  .page-features {
    width: 1080px;
    margin-left: -27px;
  }

  // homepage styles for desktop
  .slug-home {
    .twocolumn-container {
      .left-column {
        h1.headline {
          font-size: 31px;
          .wordmark {
            font-size: 34.5px;
          }
        }
      }
    }
  }

  // maximum side width container

  .width-container {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }

  .main {
    .callout {
      width: 20%;
      margin-top: 11px;
      margin-right: 4%; 
    }
  }

  // paid membership options

  ul.membership-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li.membership {
      position: relative;
      float: left;
      text-align: center;
      list-style: none;
      background-color: #f3f3f3;
      @include border-radius(2px);
      padding: 15px;
      display: inline-block;
      margin: 0 10px 15px 0;
      width: 23.983739837398%; // 236px ÷ 984px
      height: 250px;
      .membership-bottom {
        background-color: #444;
        color: #ccc;
      }
      .membership-blurb {
        padding: 15px 0;
        font-size: 13px;
        line-height: 16px;
      }
      .buy {
        position: absolute;
        width: 88px;
        bottom: 15px;
        margin-left: -44px;
        left: 50%;
      }
      .badge {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }

}
